body{
    background-color:azure;
}
.reset-password-div{
    background-color:antiquewhite;
    width: 400px;
   
    margin: 10% auto;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.205);
    border-width: 1px;
    padding: 30px;

}

.reset-title{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.reset-info{
    margin: 0px;
    font-size: 18px;
    
}

.reset-email-div,.click-div{
display: flex;
flex-direction: column;
align-items: center;
}

.reset-email-input{
    width: 100%;
     height: 35px;
     border-radius: 10px;
     padding-left: 10px;
     font-size: 15px;
}


.submit-button{
    width: 100%;

     height: 35px;
    
     margin-top: 20px;
    margin-bottom: 15px;

    border-radius: 10px;
    cursor:pointer;
    background-color: blue;
    color: white;
    font-weight: bold;
    
}

.submit-button:hover{
    background-color: white;
    color: blue;
   }
   .submit-button:active{
       background-color: blue;
       color: white;
      }

.back-to-login-link{
    font-weight: bold;
}
.back-to-login-link:hover{
    opacity: 0.7;
}

