body{
    background-color:azure;
  font-family: Arial, sans-serif; 
    
}
.userprofile-page-div{
    display: grid;
   
    grid-template-columns: 1fr 9fr;
    background-color:antiquewhite;
    margin: 15px;
    border-style: solid;
    border-width: 1px;
    
}
.userprofile-navigation-bar-div{
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding: 5px;
 
}


a{
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px;
}
a:hover{
    background-color: #555;
}
a:active{
    background-color: white;
    color: #333;
}



.log-out-a{
   
    display: flex; 
    align-items: center; 
    justify-content: center; 

    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    width: 200px;

}
.log_out_image{
    width: 20px;
    height: auto;
   margin-right: 5px;
}